In [1]:
import numpy as np
import pandas as pd

In [7]:
d= {'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3,]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
df.dropna(thresh = 2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [13]:
df.fillna(value = 'FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [15]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [16]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [23]:
byComp = df.groupby('Person')

In [26]:
byComp.std()

ValueError: could not convert string to float: 'GOOG'