In [2]:
import numpy as np
import pandas as pd

In [2]:
 pwd

'C:\\Users\\tomas\\Py_DS_ML_Bootcamp-master\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas'

In [4]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
df = pd.read_csv('example')

In [11]:
df.to_csv('My_output', index = False)

In [12]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
df.to_csv('example',index=False)

In [11]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [5]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('sqlite:///:memory:')

In [13]:
df.to_sql('my_table',engine)

4

In [15]:
sqldf= pd.read_sql('my_table', con = engine)

In [16]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15