In [12]:
import numpy as np
import pandas as pd
from numpy.random import randn

# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [14]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [15]:
df

             A         B
G1 1  1.573296 -0.358527
   2 -0.515680 -1.607785
   3 -0.014555  1.227655
G2 1 -0.997141 -1.292052
   2 -1.047260  1.087834
   3 -1.998625  0.663099

In [19]:
df.loc['G1'].loc[1]

A    1.573296
B   -0.358527
Name: 1, dtype: float64

In [22]:
df.index.names = ['Groups', 'Num']

In [23]:
df

                   A         B
Groups Num
G1     1    1.573296 -0.358527
       2   -0.515680 -1.607785
       3   -0.014555  1.227655
G2     1   -0.997141 -1.292052
       2   -1.047260  1.087834
       3   -1.998625  0.663099

In [42]:
df.loc['G1'].loc[3]['B']

np.float64(1.2276551524866142)

In [40]:
df.xs(1,level = 'Num')

               A         B
Groups
G1      1.573296 -0.358527
G2     -0.997141 -1.292052